DATA_DIR=/Volumes/NeoNAS/DataWarehouse
QB_CLIENT_ID=your_client_id
QB_CLIENT_SECRET=your_client_secret
YNAB_TOKEN=your_personal_access_token
HA_TOKEN=your_long_lived_access_token
HA_URL=http://home.mcc:8123
EARLY_API_KEY=your_api_key
EARLY_API_SECRET=your_api_secret